#contact-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14vh;

  font-weight: bolder;
}
.contact-textarea {
  border-left: 10px solid #9F2042;
  border-top: 1px solid #9F2042;
  border-bottom: 1px solid #9F2042;
  border-right: 1px solid #9F2042;
  width: 350px;
  height: 250px;
  transition: 1s ease;
}

.contact-input {
  margin-bottom: 40px;
  width: 350px;
  border-left: 10px solid #9F2042;
  border-top: 1px solid #9F2042;
  border-bottom: 1px solid #9F2042;
  border-right: 1px solid #9F2042;
  height: 20px;
  transition: 1s ease;

}

.contact-textarea:hover {
  background-color: #9F2042;
  border-left: 10px solid #58182b;
  border-top: 1px solid #58182b;
  border-bottom: 1px solid #58182b;
  border-right: 1px solid #58182b;
  color: white;
}

.contact-input:hover {
  background-color: #9F2042;
  border-left: 10px solid #58182b;
  border-top: 1px solid #58182b;
  border-bottom: 1px solid #58182b;
  border-right: 1px solid #58182b;
  color: white;
}
.contact-input:focus {
  outline: none;
}

.contact-textarea:focus {
  outline: none;
}

.form-button:hover {
  background-color: #9F2042;
  border-left: 10px solid #58182b;
  border-top: 1px solid #58182b;
  border-bottom: 1px solid #58182b;
  border-right: 1px solid #58182b;
  color: white;
}
.form-button {
  margin-top: 40px;
  transition: 1s ease;
  width: 319px;
  height: 30px;
  background: none;
  border-left: 10px solid #9F2042;
  border-top: 1px solid #9F2042;
  border-bottom: 1px solid #9F2042;
  border-right: 1px solid #9F2042;
  font-weight: bolder;
}


